
<div class="row">
  {{# unless leaves}}
  <div class="col-md-12 text-muted">
    Заяв на відпустку ще не було.
  </div>
  {{else}}

  <div class="col-md-12">
    <p class="visible-xs-block"><em class="text-muted">Горизонтальна прокрутка таблиці</em></p>
    <div class="table-responsive">
    <table class="table table-hover user-requests-table">
      <thead>
        <tr>
          <th>Дати (з <i class="fa fa-long-arrow-right"></i> по)</th>
          <th>Тип</th>
          <th>Відраховано</th>
          <th>Погоджено</th>
          <th></th>
          <th><span class="pull-right">Статус</span></th>
        </tr>
      </thead>

      <tbody>
      {{# each leaves }}

      <tr class="leave-request-row">
        <td data-tom-leave-dates="1">{{> leave_dates leave=this}}</td>
        <td>{{ this.leave_type.name }}{{#if this.is_pended_revoke_leave}}<br>(роглядається відкликання){{/if}}</td>
        <td>{{ this.get_deducted_days_number }}</td>
        <td class="user-request-table-approver">{{#with this.approver}}{{this.full_name}}{{/with}}</td>
        <td>
          {{# if this.is_approved_leave }}
          {{# unless this.is_pended_revoke_leave}}
          <form method="post" action="/requests/revoke/">
            <input type="hidden" value="{{this.id}}" name="request">
            <button type="submit" class="pull-right btn btn-default btn-xs revoke-btn" title="Відкликати заяву на відпустку. Потребує погодження."><i class="fa fa-trash"> Відкликати</i></button>
          </form>
          {{/unless}}
          {{else}}
            {{#if_equal this.userId ../logged_user.id }}
            <form method="post" action='/requests/cancel/'>
              <input type="hidden" value="{{this.id}}" name="request">
              <button type="submit" class="pull-right btn btn-default btn-xs revoke-btn" title="Анулювати заяву на відпустку" value="cancel"><i class="fa fa-trash"> Анулювати</i></button>
            </form>
            {{/if_equal}}
          {{/if}}
        </td>
        <td><span class="pull-right leave-request-row-status">{{#if this.is_new_leave }}На розгляді{{else}}{{#if this.is_approved_leave}}Погоджено{{else}}Відхилено{{/if}}{{/if}}</span></td>
      </tr>

      {{/ each }}

      </tbody>
    </table>
    </div>
  </div>
  {{/unless}}
</div>
