{{!

  This sub template renders Employee's allowance breakdown.

  It relies on following entries in context:

    * user_allowance - an object representing current employee's allowance

}}

<dl>
  <dt>Розбивка норми відпустки
    <i class="fa fa-question-circle"
      data-content="Пояснення щодо формування сумарної норми відпустки. Наводьте курсор на кожне число, щоб отримати детальну інформацію про те, що воно означає."
      data-placement="top"
      data-toggle="popover"
      data-trigger="focus hover"
    ></i>
  </dt>
    <dd>
      <em>Номінальна норма відпустки </em>
      <span class="pull-right"
        data-content="Норма відпустки, яка визначена для відділу, до якого належить користувач."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id='nominalAllowancePart'
      >{{ user_allowance.nominal_allowance }}</span>
    </dd>
    <dd>
      <em>Перенесено з {{previous_year}}</em>
      <span class="pull-right"
        data-content="Дні відпустки, які були перенесені з попереднього року. Примітка: розрахунок цієї кількості проводиться в перший день року."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id="allowanceCarriedOverPart"
      >{{ user_allowance.carry_over }}</span>
    </dd>
    <dd>
      <em>Індивідуальне коригування</em>
      <span class="pull-right"
        data-content="Скоригована адміністратором норма відпустки."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.manual_adjustment }}</span>
    </dd>
    <dd>
      <em>Початок/кінець зайнятості</em>
      <span class="pull-right"
        data-content="Автоматичне коригування норми відпустки з урахуванням першого і останнього днів роботи працівника."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.employement_range_adjustment }}</span>
    </dd>
    <dd>
      <em>Наразі використано</em>
      <span class="pull-right"
        data-content="Кількість днів, які вже було використано з норми відпустки."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{#if_equal user_allowance.number_of_days_taken_from_allowance 0}}{{else}}-{{/if_equal}}{{ user_allowance.number_of_days_taken_from_allowance}}</span>
    </dd>
    {{# if user_allowance.is_accrued_allowance }}
      <dd>
        <em>Наразі заблоковано</em>
        <span class="pull-right"
          data-content="Кількість недоступних днів через застосування принципу накопичення норми відпустки."
          data-placement="top"
          data-toggle="popover"
          data-trigger="focus hover"
        >{{ user_allowance.accrued_adjustment }}</span>
      </dd>
    {{/ if}}
</dl>
