
<form method="POST" action="/users/edit/{{employee.id}}/">

<div class="col-md-7">

  {{> user_details/breadcrumb employee=employee }}

  <div class="form-group">
    <label for="name_inp" class="control-label">Ім'я</label>
    <input class="form-control" id="name_inp" name="name" required value="{{employee.name}}">
  </div>

  <div class="form-group">
    <label for="lastname_inp" class="control-label">Прізвище</label>
    <input class="form-control" id="lastname_inp" name="lastname" required value="{{employee.lastname}}">
  </div>

  <div class="form-group">
    <label for="email_inp" class="control-label">Електронна адреса</label>
    <input class="form-control" id="email_inp" type="email" name="email_address" required value="{{employee.email}}" aria-describedby="email_help">
    <span id="email_help" class="help-block">Електронна адреса цього користувача</span>
  </div>

  <div class="form-group">
    <label for="select_inp" class="control-label">Відділ</label>
    <select class="form-control" id="select_inp" name="department" aria-describedby="department_help">
      {{#each company.departments}}
          <option value="{{this.id}}" {{#if_equal ../employee.DepartmentId this.id}} selected="selected"{{/if_equal}}>{{this.name}} (approver {{this.boss.name}} {{this.boss.lastname}})</option>
      {{/each}}
    </select>
    <span id="department_help" class="help-block">Відділ, до якого належить цей користувач. <a href="/settings/departments/edit/{{employee.DepartmentId}}">Докладніше <i class="fa fa-angle-double-right"></i></a></span>
  </div>

  <div class="form-group">
      <label for="admin_inp" class="control-label">
        <input class="" id="admin_inp" name="admin" type="checkbox" {{# if employee.admin}} checked="checked"  {{/if}} >
        Є адміністратором
      </label>
  </div>

  <div class="form-group">
      <label for="auto_approve_inp" class="control-label">
        <input class="" id="auto_approve_inp" name="auto_approve" type="checkbox" {{# if employee.auto_approve}} checked="checked"  {{/if}} >
        Автоматичне погодження заяв на відпустку
      </label>
      <span class="help-block">Встановіть прапорець, щоб заяви на відпустку від {{#with employee}}{{this.full_name}}{{/with}} автоматично отримували статус <strong>Схвалено</strong>.</span>
  </div>

  <div class="form-group">
    <label for="start_date_inp" class="control-label">Дата початку</label>
    <div class="input-group col-md-4">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control" id="start_date_inp" type="text" name="start_date" required data-date-autoclose="1" data-provide="datepicker" data-date-format="{{#with logged_user.company }}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date employee.start_date}}" aria-describedby="start_date_help">
    </div>
    <span id="start_date_help" class="help-block">Дата, з якої працівник почав працювати (включно)</span>
  </div>

  <div class="form-group">
    <label for="end_date_inp" class="control-label">Дата закінчення</label>
    <div class="input-group col-md-4">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control" id="end_date_inp" type="text" name="end_date" data-date-autoclose="1" data-provide="datepicker" data-date-format="{{#with logged_user.company }}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date employee.end_date}}" aria-describedby="end_date_help">
    </div>
    <span id="end_date_help" class="help-block"><div>Дата, після якої користувач покидає компанію {{ company.name }}.</div><div>Після цієї дати користувач не зможе отримати доступ до облікового запису компанії.</div><div>Це спосіб анулювання облікових записів користувачів.</div></span>
  </div>

  <div class="form-group">
    <label for="password_inp" class="control-label">Пароль</label>
    <input class="form-control" id="password_inp" type="password" name="password_one" value="" {{#if company.ldap_auth_enabled}} readonly {{/if}} aria-describedby="password_inp_help">
    <span id="password_inp_help" class="help-block">
      {{# if company.ldap_auth_enabled }}
        <a href="/settings/company/authentication/">Ідентифікацію LDAP</a> активовано, тому пароль не має значення.
      {{else}}
        Для даного облікового запису можна актуалізувати пароль.
      {{/ if}}
    </span>
  </div>

  <div class="form-group">
    <label for="password_inp" class="control-label">Підтвердження пароля</label>
    <input class="form-control" id="confirm_password_inp" type="password" name="password_confirm" value="" {{# if company.ldap_auth_enabled}}readonly{{/if}}>
  </div>

  <div class="form-group">
    <label for="link_to_email_audit" class="control-label">
      <a href="/audit/email/?user_id={{employee.id}}">Усі електронні листи, які надсилалися працівнику {{#with employee}}{{this.full_name}}{{/with}}</a>
    </label>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button id="save_changes_btn" type="submit" class="btn btn-success pull-right">Зберегти зміни</button>
    <a class="btn btn-link pull-right" href="/users/">Скасувати</a>
  </div>
</div>

</form>
