Новий обліковий запис TimeOff.Management для {{#with new_user }}{{this.full_name}}{{/with}}
=====
<p>Вітаємо, <strong>{{new_user.name}}</strong>,</p>

<p><strong>{{#with admin_user}}{{this.full_name}}{{/with}}</strong> щойно зареєстрував(-ла) новий обліковий запис для вас як працівника компанії <strong>{{company.name}}</strong>.</p>

<p>Будь ласка, дізнайтесь у адміністратора <strong>{{admin_user.name}}</strong> свій пароль для входу в {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Або ж перейдіть за нижченаведеним посиланням, щоб встановити новий пароль:

{{# with new_user ~}}
{{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Встановити новий пароль'}}
{{/ with }}

</p>

<p>Дякуємо</p>
