
{{> header }}

<h1>Відділи</h1>

{{> show_flash_messages }}

<div class="row">
  <div class="col-md-4 lead">Всі відділи</div>
  <div class="col-md-4 col-md-offset-4">
    <button class="btn btn-info pull-right" data-toggle="modal" data-target="#add_new_department_modal" type="button" id="add_new_department_btn">Додати новий відділ</button>
  </div>
</div>


<div class="row">&nbsp;</div>


{{# unless departments.length }}
<div class="row">
    <div class="col-md-4">Жодних відомостей про відділ не знайдено</div>
</div>
{{/unless}}

<div class="row">

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Назва</th>
          <th>Керівник</th>
          <th>Норма відпустки</th>
          <th>Кількість працівників</th>
          <th>Офіційні вихідні
            <button type="button"
              class="btn btn-xs btn-link"
              data-content="Якщо вибрано "ТАК", то для працівників відділу державні свята додаватимуться до їхньої норми відпустки."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
            >
              <span class="fa fa-question-circle"> </span>
            </button>
          </th>
          <th>Накопичена відпустка
            <button type="button"
              class="btn btn-xs btn-link"
              data-content="Якщо вибрано "ТАК", то норма відпустки починає накопичуватися з першого дня роботи. Вона накопичується пропорційно річній нормі. Наприклад, у співробітника, який працює вже дев'ятий місяць, накопичиться 9/12 (або три чверті) річної норми."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
            >
              <span class="fa fa-question-circle"> </span>
            </button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each departments}}
        <tr data-vpp-department-list-mode="readonly">
          <td><a href="/settings/departments/edit/{{this.id}}/" data-vpp-department-name=1>{{this.name}}</a></td>
          <td><a href="/users/edit/{{this.boss.id}}/">{{# with this.boss }}{{this.full_name }}{{/with}}</a></td>
          <td>
            {{#each ../allowance_options}}{{#if_equal this.value ../allowance}}{{caption}}{{/if_equal}}{{/each}}
          </td>
          <td><a href="/users/?department={{ this.id }}">{{this.users.length}}</a></td>
          <td>{{# if this.include_public_holidays }}Так{{/if}}</td>
          <td>{{# if this.is_accrued_allowance }}Так{{/if}}</td>
          <td><a href="/settings/departments/edit/{{this.id}}/" class="btn btn-link btn-xs pull-right"><span class="fa fa-chevron-right"></span></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>

{{> add_new_department_modal
  container_id='add_new_department_modal'
  form_action='/settings/departments/'
}}

{{> footer }}
