
{{> header }}

<h1>Мої канали</h1>

<p class="lead">Канали для сторонніх календарів</p>

{{> show_flash_messages }}

<div class="row">

  <div class="col-md-6">

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-12">

        <p class="description-paragraph">Організуйте обмін даними між системою TimeOff.Management та сторонніми календарями, наприклад: Microsoft Outlook, Календар Apple (iCal) або Календар Google.</p>

        <p class="description-paragraph">Реалізовано передачу даних з наступних сторінок:</p>
        <p class="description-paragraph">
          <a href="/calendar/">Мій календар</a> - передача всіх даних зі сторінки Мій календар
        </p>
        {{# unless keep_team_view_hidden}}
        <p class="description-paragraph">
          <a href="/calendar/teamview/">Перегляд колективу</a> - передача даних зі сторінки Перегляд колективу за поточний місяць
        </p>
        {{/ unless}}

        <p class="description-paragraph">Для експортування конкретного каналу в стандартну програму календаря просто натисніть на відповідне посилання.</p>

        <p class="description-paragraph">Або ж скопіюйте адресу посилання та перенесіть її у сторонню програму.</p>

      </div>
    </div>

    <div class="row feeds-holder">

      <div class="col-md-5 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">Канал Мій календар <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

      {{# unless keep_team_view_hidden }}
      <div class="col-md-5 col-md-offset-2 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{team_view_feed.feed_token}}/ical.ics">Канал Перегляд колективу <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{team_view_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>
      {{/ unless }}

    </div>
  </div>


  <div class="col-md-6">
    <div class="row feed-calendar-big-picture-holder">
      <i class="fa fa-calendar feed-calendar-big"></i>
    </div>
  </div>



</div>

{{> footer }}
