

{{> header }}

<h1>Загальні параметри</h1>

<p class="lead">Основні параметри облікового запису</p>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Компанія
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-5">
            <form class="form-horizontal" method="POST" action="/settings/company/" id="company_edit_form">
              <div class="form-group">
                <label for="input_company_name" class="col-md-4 control-label">Назва компанії</label>
                <div class="col-md-8">
                  <input class="form-control" id="input_company_name" placeholder="Назва нашої компанії" value="{{company.name}}" name="name">
                </div>
              </div>
              <div class="form-group">
                <label for="input_country" class="col-md-4 control-label">Країна</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_country" name="country">
                    {{#each countries}}
                    <option value="{{@key}}" {{# if_equal @key ../company.country }} selected="selected"{{/if_equal}}>{{@key}}: {{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="input_date_format" class="col-md-4 control-label">Формат дати</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_date_format" name="date_format">
                    {{#with company}}
                    {{#each this.get_available_date_formats}}
                    <option value="{{this}}" {{# if_equal this ../date_format }} selected="selected"{{/if_equal}}>{{this}}</option>
                    {{/each}}
                    {{/with}}
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label for="input_time_zone" class="col-md-4 control-label">Часовий пояс</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_time_zone" name="timezone">
                    {{#each timezones_available}}
                    <option value="{{this}}" {{# if_equal this ../company.timezone }} selected="selected"{{/if_equal}}>{{this}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label for="input_carry_over" class="col-md-4 control-label">Перенесені дні</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_carry_over" name="carry_over">
                    {{#each carryOverOptions}}
                    <option value="{{this.days}}" {{# if_equal this.days ../company.carry_over }} selected="selected"{{/if_equal}}>{{this.label}}</option>
                    {{/each}}
                  </select>
                    <p>
                      <em>Кількість днів за нормою відпустки працівників, що переноситься на наступний рік.</em>
                    </p>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <div class="checkbox">
                    <label for="share-all-absences">
                      <input id="share-all-absences" type="checkbox" name="share_all_absences" {{# if company.share_all_absences }} checked="checked"{{/if}}>Не приховувати відомості про відсутність від працівників
                    </label>
                    <p>
                      <em>В такому разі всі працівники можуть бачити інформацію про відсутність усіх інших незалежно від відділу.</em>
                    </p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <div class="checkbox">
                    <label for="is-team-view-hidden">
                      <input id="is-team-view-hidden" type="checkbox" name="is_team_view_hidden" {{# if company.is_team_view_hidden }} checked="checked"{{/if}}>Приховати сторінку Перегляд колективу від усіх користувачів, крім адміністраторів
                    </label>
                    <p>
                      <em>В такому разі сторінка Перегляд колективу відображатиметься лише для адміністраторів.</em>
                    </p>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" class="btn btn-success pull-right">Зберегти зміни</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-offset-1 col-md-5">

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-md-7 control-label">Створити резервну копію з даними про відпустки працівників</label>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2">
                  <em>Завантажити весь список працівників із усіма їхніми заявами на відпустку. Файл буде у форматі <strong>.CSV</strong>, який сумісний з MS Excel.</em>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-11">
                  <a class="btn btn-success pull-right" href="/settings/company/backup/"><i class="fa fa-download"></i> Завантажити копію</a>
                </div>
              </div>
            </div>

            <form class="form-horizontal" method="POST" action="/settings/schedule" id="company_schedule_form">
            <input type="hidden" name="company_wide" value="1">
            <div class="form-group">
              <label for="" class="col-md-6 control-label">Щотижневий графік компанії</label>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2">
                {{> schedule_widget}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2">
                <em>Визначте щотижневий графік для всієї компанії. Натискайте відповідну кнопку для перемикання дня з робочого на неробочий або навпаки.</em>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-11">
                <button type="submit" class="btn btn-success pull-right">Зберегти графік</button>
              </div>
            </div>
            </form>

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-md-10 control-label">Розрахувати та перенести невикористані дні відпустки</label>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2">
                  <p><em>Це дозволяє перенести невикористані дні за нормою відпустки для кожного працівника з <strong>{{yearPrev}}</strong> на поточний <strong>{{yearCurrent}}</strong> рік.</em></p>
                  <p><em>Зауважте, що в такому разі норма відпустки працівників зміниться.</em></p>
                </div>
              </div>
              <div class="form-group">
                <form class="col-md-offset-2 col-md-11" id="calculate_carry_over_form" method="post" action="/settings/carryOverUnusedAllowance">
                  <button class="btn btn-success pull-right" type="submit"><i class="fa fa-share"></i> Перенести дні</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        Типи відпусток
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">Назва типу відпустки</label>
            <p><em>Позначте, який з них буде завжди зверху списку</em></p>
          </div>
          <div class="col-md-offset-3 col-md-2">
            <label class="control-label">Ліміт</label>
            <p><em>Днів/рік</em></p>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <form id="delete_leavetype_form" method="post" action="/settings/leavetypes/delete/"></form>
        <form id="leave_type_edit_form" method="post" action="/settings/leavetypes/">

        {{#unless company.leave_types.length }}
        <div class="row">
          <div class="col-md-4">Жодних відомостей про типи відпусток не знайдено</div>
        </div>
        {{/unless}}

        {{#each company.leave_types}}
        <div class="row">
          <div class="col-md-6">

            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" name="first_record" value="{{ this.id }}" {{# if this.sort_order }}checked="checked"{{/ if}}>
              </span>
              <input type="text" class="form-control" name="name__{{ this.id }}" value="{{name}}" data-tom-leave-type-order="name_{{@index}}">

              <div class="input-group-btn" data-tom-color-picker="1" data-tom-leave-type-order="colour__{{@index}}">
                <input type="hidden" name="color__{{ this.id }}" value="{{# with this }}{{ this.get_color_class }}{{/with}}">
                <button type="button" class="btn btn-default dropdown-toggle {{# with this }}{{ this.get_color_class }}{{/with}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-paint-brush"></i></button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="btn btd-default leave_type_color_1" data-tom-color-picker-css-class="leave_type_color_1">Color 1</a></li>
                  <li><a href="#" class="btn btd-default leave_type_color_2" data-tom-color-picker-css-class="leave_type_color_2">Color 2</a></li>
                  <li><a href="#" class="btn btd-default leave_type_color_3" data-tom-color-picker-css-class="leave_type_color_3">Color 3</a></li>
                  <li><a href="#" class="btn btd-default leave_type_color_4" data-tom-color-picker-css-class="leave_type_color_4">Color 4</a></li>
                  <li><a href="#" class="btn btd-default leave_type_color_5" data-tom-color-picker-css-class="leave_type_color_5">Color 5</a></li>
                </ul>
              </div>

            </div>

          </div>
          <div class="col-md-3">
            <input name="use_allowance__{{ this.id }}" id="use_allowance__{{ this.id }}" type="checkbox" {{#if use_allowance}}checked="checked"{{/if}} data-tom-leave-type-order="allowance_{{@index}}">
            <label for="use_allowance__{{ this.id }}" class="control-label">Використовувати норму</label>
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control" value="{{limit}}" name="limit__{{ this.id }}" data-tom-leave-type-order="limit_{{@index}}">
          </div>
          <div class="col-md-1">
            <button class="btn btn-default pull-right leavetype-remove-btn" value="{{ this.id }}" data-tom-leave-type-order="remove_{{@index}}"><span class="fa fa-remove"></span></button>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        {{/each}}

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button class="btn btn-default" data-toggle="modal" data-target="#add_new_leave_type_modal" type="button" id="add_new_leave_type_btn">Додати новий</button>
              <button type="submit" class="btn btn-success">Зберегти зміни</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5 setting-general-2nd-column">
    <div class="panel panel-default">
      <div class="panel-heading">
        Державні свята
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 tst-no-bank-holidays">Інформацію про державні свята наведено <a href="/settings/bankholidays/">тут</a></div>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <i class="fa fa-bomb"></i> Зона підвищеної небезпеки
      </div>
      <div class="panel-body">

          <div class="col-md-12">

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="control-label">Видалення облікового запису компанії</label>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <p><em>Повне видалення даних, пов’язаних з обліковим записом компанії {{company.name}}.</em></p>
                  <p><em> Таке рішення не передбачає зворотної дії.</em></p>
                  <p><em> Наполегливо рекомендується спочатку <a href="/settings/company/backup/">завантажити</a> дані про відпустки працівників.</em></p>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#remove_company_modal" type="button"><i class="fa fa-remove"></i> Видалити компанію</button>
                </div>
              </div>
            </div>

          </div>


      </div>
    </div>
  </div>
</div>

{{> add_new_leave_type_modal
  container_id='add_new_leave_type_modal'
  form_action='/settings/leavetypes/'
}}

{{> remove_company_modal
  container_id='remove_company_modal'
}}

{{> footer }}
