
<div>
  <strong>Ім'я:</strong> {{userFullName}}.
</div>
<div>
  <strong>Відділ:</strong> {{departmentName}}.
</div>
{{#if userAllowance }}
  <div>
    <strong>У розпорядженні:</strong> {{userAllowance.number_of_days_available_in_allowance}} з {{userAllowance.total_number_of_days_in_allowance}} днів.
  </div>
{{/if}}
{{#if supervisorNames}}
  <div>
    <strong>Керівники:</strong>
    <ul>
      {{#each supervisorNames}}<li>{{this}}{{#unless @last}},{{/unless}}</li>{{/each}}
    </ul>
  </div>
{{/if}}
